[[source]]
name = "pypi"
url = "https://mirrors.bfsu.edu.cn/pypi/web/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
tkinter = "*"
selenium = "*"
requests = "*"
pyside2 = "*"
webdriver = "*"

[requires]
python_version = "3.8"
