td textarea {
    width: 100%;
    height: 30px;
}


.screenshotclip {
    width: 640px;
    /*margin: auto;*/
    /*background-size: 640px;*/
}
    body {
        height: 100%;
        overflow: hidden;

    }

    html {
        height: 100%;
    }

@media (min-width: 1200px) {


    .tablewrapper {
        max-height: 500px;
        overflow: auto;
    }

    .screenshotwrapper {
        display: inline-block;
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        width: 657px;
    }

    .settingswrapper {
        display: inline-block;
        height: 100%;
        vertical-align: top;
        width: calc(100% - 670px);
    }
}
.settingswrapperscroller{
    height: 100%;
    overflow: auto;
}
.settingshandle{
    opacity: 0;
    display: block;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 50px;
    position: absolute;
    top: 0;
    width: 100%;
    background-color: #fff;
    transition-duration: 300ms;
}

@media (max-width: 1200px) {

    .screenshotwrapper {
        display: block;
        overflow-y: auto;
        overflow-x: hidden;
        width: 100%;
        height: calc( 100% - 50px );

    }

    .settingswrapper {

        box-shadow: 0px 0px 5px #0003;
        display: block;
        vertical-align: top;
        width: 100%;
        height: 60%;
        position: absolute;
        bottom: 0;
        float: left;
        background-color: #fff;
        transition-duration: 300ms;
    }
    .settingsfiller{
        height: calc( (100% + 50px)*0.6 - 50px  );
        transition-duration: 300ms;
    }
    .overview>.settingswrapper{
        height: 50px;
    }
    .overview>*>.settingsfiller{
        height: 0px;
    }
    .overview>*>.settingshandle{
        display: block;
        opacity: 1;
    }

}
.translatetd .dropdown button{
    display: none;
}
.multi .dropdown button{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-top: -1px;
    display: block!important;
}
.multi .input-group textarea{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
